.contacts {
  font-size: 15px;
  line-height: 25px;

  @media (max-width: $tablet-width) {
    padding-right: 18px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    padding-right: 0;
  }
}

.contacts a {
  display: block;
  color: $footer-text;

  &:hover {
    color: $blue-main-theme-hover;
  }

  &:active {
    color: $blue-main-theme-active;
  }
}

.contacts p {
  @include footer-title;
}

.contacts__address {
  font-style: normal;
}
