.header {
  @include wrapper();
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 33px;
  padding-bottom: 33px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.header a {
  color: $white;
}

.header__logo {
  display: block;
  margin-right: auto;
}

.header__logo img {
  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
  }
}

.header__contact {
  display: block;
  margin-top: -5px;
  padding-left: 34px;
  background-position: 0 center;
  background-repeat: no-repeat;
  line-height: 18px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    margin-top: -10px;
  }

  &--email {
    margin-right: 90px;
    background-image: url("../img/mail-icon.svg");
    background-size: 19px 14px;

    @media (max-width: $tablet-width) {
      @include size(25px, 19px);
      margin-right: 34px;
      background-size: 25px 19px;
    }

    @media (max-width: $mobile-width) {
      margin-right: 21px;
    }
  }

  &--phone {
    margin-right: 50px;
    background-image: url("../img/phone-icon.svg");
    background-size: 18px 18px;

    @media (max-width: $tablet-width) {
      @include size(24px, 24px);
      margin-right: 0;
      background-size: 24px 24px;
    }
  }
}

.header__contact span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__callback-button {
  @include roboto-text;
  padding: 14px 27px;
  margin-top: -3px;
  border: 1px solid $white;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover {
    border-color: $blue-main-theme-hover;
  }

  &:active {
    opacity: 0.8;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
