.main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
}

.main__background-wrapper {
  background-image: url("../img/advantages-background-desktop.svg");
  background-position: left -30px;
  background-repeat: no-repeat;
  z-index: 0;

  @media (max-width: $tablet-width) {
    background-image: url("../img/advantages-background-mobile.svg");
    background-position: -120px 700px;
  }
}
