/* color palette */

$blue-main-theme: #00b2ff;
$dark-main-theme: #1b2d37;
$white: #ffffff;

$blue-main-theme-hover: #009cdf;
$blue-main-theme-active: #42c6ff;

$border-color: rgba(98, 105, 98, 0.2);
$card-border-color: #ebebeb;
$icon-color: #cdcdcd;

$accardeon-icon-color: #c4c4c4;

$main-text: #666666;
$footer-text: rgba(27, 45, 55, 0.5);

$wrapper-big: 1462px;
$wrapper-small: 1220px;

/* resolutions */

$mobile-width: 767px;
$tablet-width: 1023px;
