/* color palette */

$blue-main-theme: #00b2ff;
$dark-main-theme: #1b2d37;
$white: #ffffff;

$blue-main-theme-hover: #009cdf;
$blue-main-theme-active: #42c6ff;

$main-text: #666666;

/* resolutions */

$mobile-width: 767px;
$tablet-width: 1023px;
